auto_mix_prep==0.2.0
Django==5.2.3
filetype==1.2.0
gevent==25.5.1
grpcio==1.71.0
huey==2.5.3
jsonargparse==4.40.0
pandas==2.3.0
plotly==6.1.0
protobuf==6.31.1
pydantic==2.11.7
PyJWT==2.10.1
pytest==8.4.1
python_magic==0.4.27
Requests==2.32.4
rich==14.0.0
spacy==3.8.7
tqdm==4.67.1
django-csp
django_bootstrap5
pinax-announcements
django-select2
django_cleanup
django-admin-csvexport
uwsgi
django-cors-headers
whitenoise
cryptography
