{% extends "evalbase/base.html" %}

{% block title %}Profile{% endblock %}
{% block content %}
{% if userprofile is not None %}
<p>User: {{ user.username }} ({{ user.first_name }} {{ user.last_name }})</p>
<p>Email: {{ user.email }}</p>
<p>Street: {{ userprofile.street_address }}</p>
<p>City/State: {{ userprofile.city_state }}</p>
<p>Country: {{ userprofile.country }}</p>
<p>Postal code: {{ userprofile.postal_code }}</p>

<p><a href="{% url 'profile-create-edit' %}">Edit</a> your profile.</p>
{% else %}
<p>Your profile is blank.  Please
  <a href="{% url 'profile-create-edit' %}">create it.</a></p>
{% endif %}

{% if orgs %}
<p>You are part of the following registered participant organizations:</p>
<ul>
  {% for org in orgs %}
  <li><a href="{% url 'org-detail' org.conference org.shortname %}">
  {{ org.longname }}</a>
  ({{ org.shortname }}, in {{ org.conference.shortname }})</li>
  {% endfor %}
</ul>
{% endif %}


{% if signatures %}
<p>You have signed the following agreements:</p>
  <ul>
    {% for s in signatures %}
    <li>{{ s.agreement.longname }}</li>
    {% endfor %}
  </ul>
{% endif %}

<a href="{% url 'home' %}">Return to home.</a>
{% endblock %}
