{% extends 'evalbase/base.html' %}
{% load eb_tags %}

{% block title %} {{ submission.runtag }} {% endblock %}

{% block content %}
<h4>Submission {{ submission.runtag }}</h4>
{% if submission.task.task_open %}
<a href = "{% url 'edit-task' submission.task.conference.shortname submission.task.shortname submission.runtag %}">Edit this submission</a>
{% endif %}

<ul>
    <li> Conference: {{ submission.task.conference.longname }}</li>
  <li> Task: {{ submission.task.longname }} </li>
  <li> Submitted by: {{ submission.submitted_by }} </li>
  <li> Organization: {{ submission.org }} </li>
  <li> Date: {{ submission.date }} </li>

</ul>

<h4> Run metadata </h4>

<ul>
  {% for m in metas %}
  <li> {{ fields|get_item:m.key }} : {{ m.value }} </li>
  {% endfor %}
</ul>

<h4> Validation </h4>
Validated?
    {% if submission.is_validated == 'F' %}
    <span class="text-danger">validation failed</span>
        {% if submission.check_output|length > 0 %}
        <p>
          Validation output:<br/>
          {{ submission.check_output }}
        </p>
        {% endif %}
    {% elif submission.is_validated == 'S' %}
    validation succeeded
    {% else %}
    waiting for validation
    {% endif %}

<p/>
<a href="{{ submission.file.url }}" download>Uploaded file</a>

{% endblock %}
