{% extends 'evalbase/base.html' %} {% block title %}Site is down{% endblock %}
{% block content %}
<h1>Evalbase Is Down (but we're working on it!)</h1>

<p>The Evalbase system is currently down pending some important updates.</p>

<p>
  In the meantime, to register for TREC 2025,
  <a
    href="https://docs.google.com/forms/d/e/1FAIpQLSfu4ZIKsenZLzhIJHbx7YHJPVGJmNEHBYkcgRK9Ie39abAM7Q/viewform?usp=header"
    >use this temporary form.</a
  >
</p>

<p>Thank you for your patience.</p>

{% endblock %}
