{% extends 'evalbase/base.html' %}
{% load django_bootstrap5 %}

{% block title %} Submit - {{ task.track.longname }} {{ task.longname }} {% endblock %}

{% block content %}

<h2>Submission to {{task.track.longname}}, {{task.longname}} task</h2>

{% if form.header_template %}
{% include form.header_template %}
<p/>
{% endif %}

<form enctype="multipart/form-data" method="post">
{% csrf_token %}
{% bootstrap_form gen_form %}
<button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
