{% extends 'evalbase/base.html' %}

{% block title %} Open Tasks -- {{ conf.shortname }} {% endblock %}

{% block content %}
<h1> {{ conf.longname }} </h1>

{% if agreements %}
<p>You need to sign the following participation agreement(s):</p>
<ul>
  {% for agreement in agreements %}
  <li><a href="{% url 'sign-agreement' conf agreement %}">{{ agreement.longname }}</a></li>
  {% endfor %}
</ul>
{% endif %}

<h2>Tracks</h2>
<ul>
  {% for track in tracks|dictsort:"longname" %}
  <li>
    {% if track.url %}<a target="_blank" href="{{ track.url }}">{% endif %}
    {{ track.longname }}
    {% if track.url %}</a>{% endif %}
    {% if track.shortname in tracks_i_coordinate %}
    <a href="{% url 'track_signups' conf.shortname track.shortname %}">
      (see interested groups)</a>
    {% endif %}

    {% if track.task_set %}
    <ul>
      {% for task in track.task_set.all %}
      <li>
        {{ task.longname }}
        {% if task.task_open %}
        <a href="{% url 'submit' conf.shortname task.shortname %}">(submit, deadline {{ task.deadline|default_if_none:"TBD" }})</a>
        {% else %}
        (submissions not open)
        {% endif %}
        {% if task.required %}
        <span class="text-danger">required!</span>
        {% endif %}
        {% if track.shortname in tracks_i_coordinate %}
        <a href="{% url 'task_submissions' conf.shortname task.shortname %}">
          (see all submissions)</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  {% endif %}
  </li>
{% endfor %}
</ul>

{% if myruns %}
<h2> Runs submitted </h2>
<ul>
  {% for run in myruns %}
  <li> <a href="{% url 'run' conf.shortname run.task.shortname run.runtag %}">
      {{ run.runtag }}</a> : {{ run.task.shortname }}; on {{ run.date }}; by 
    {{ run.submitted_by }}

    {% if run.is_validated == 'F' %}
    <span class="text-danger">validation failed</span>
    {% elif run.is_validated == 'S' %}
    validated
    {% else %}
    waiting for validation
    {% endif %}

    {% if run.submitted_by == user %}
    <a href="{% url 'run-delete' conf.shortname run.task.shortname run.runtag %}">
      (delete run)
    </a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>You have not submitted any runs yet.</p>
{% endif %}

{% if user.is_staff %}
<h2>Conference reports</h2>
<ul>
  <li><a href="{% url 'signups_per_track' conf %}">Signups per track</a></li>
</ul>
{% endif %}
{% endblock %}
